.itemContainer {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
img {
  position: relative;
  height: 14%;
  width: auto;
  float: left;
}
.left {
  margin-right: 4%;
  width: 20%;
}
.right {
  float: right;
  margin-left: 4%;
  text-align: left;
  width: 46%;
}
.rating {
  position: relative;
  bottom: 0;
  clear: both;
  float: left;
  margin-top: 4%;
}
.outer {
  text-align: center;
  margin: 4% 10% 4% 10%;
  max-height: 250px;
}
.outer > h3 {
  margin-bottom: 2%;
  text-align: left;
  font-weight: 200;
}
.outer p.text-muted {
  text-align: justify;
  max-height: 32%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#title {
  background-color: wheat;
  padding: 1%;
  font-size: 1.4rem;
}
