#nav button {
  border: solid white 1px;
  height: 100%;
  background-color: #f8f9fa;
  color: #007bff;
  margin-right: 4%;
}
#nav button.active {
  background-color: #007bff;
  color: white;
  margin-right: 4%;
  border: solid #007bff 1px;
}
#nav .nav-link {
  color: #007bff;
}
#nav {
  margin-right: 3%;
  margin-left: 3%;
}
